* {
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 960px;
}
header {
  background-image: url(images/coffee-beans.jpg);
  height: 100px;
  margin-bottom: 70px;
}
header h1 {
  color: rgba(256, 256, 256, 0.8);
  font-size: 50px;
  margin-top: 30px;
  margin-left: 30px;
}
h1,
h2,
h3 {
  color: brown;
}
ul {
  list-style-image: url(images/tiny-coffee-cup.gif);
}
a:link,
a:visited {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}

a:hover {
  color: black;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline;
  float: left;
}
header nav a:link,
header nav a:visited {
  background-color: brown;
  color: white;
  display: block;
  width: 160px;
  text-align: center;
  padding: 10px 0;
}
header nav a:hover {
  background-color: black;
}
footer nav a:link,
footer nav a :visited {
  text-decoration: none;
  color: gray;
  display: block;
  width: 160px;
  text-align: center;
  background-color: white;
  font-weight: normal;
}
footer nav a:hover {
  color: black;
}

aside {
  width: 300px;
  background-color: tan;
  float: right;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  margin-left: 20px;
}
.coffee-cup {
  float: left;
  margin-right: 20px;
}
.photo-right {
  float: right;
  margin-left: 20px;
}
footer {
  margin: 40px 0;
  color: gray;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  text-align: center;
  width: 20%;
  padding: 5px;
}
video {
  margin-bottom: 20px;
  margin-left: 160px;
  filter: grayscale(20%);
}
